@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root {
  --font-roboto-mono: 'Roboto Mono', monospace;
}

body {
  font-family: var(--font-roboto-mono), monospace;
  background: #000;
  color: #fff;
}

a {
  color: #fff !important;
  text-decoration: underline;
}
a:hover, a:focus, a:active {
  color: #fff !important;
}

/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;
